/* Link Styles */
a {
    color: var(--blue-6);
    text-decoration: none;
    transition: color var(--ease-3) var(--speed-2);

    &:hover {
        color: var(--blue-7);
        text-decoration: underline;
    }

    &:focus-visible {
        outline: var(--border-size-2) solid var(--blue-7);
        outline-offset: var(--size-1);
        border-radius: var(--radius-1);
    }

    &.button-link:hover {
        text-decoration: none;
    }

    &.back-link {
        display: inline-grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        align-items: center;
        gap: var(--size-1);
        color: var(--gray-9);

        &:hover {
            color: var(--gray-7);
            text-decoration: none;
        }

        &::before {
            font-family: 'Material Symbols Outlined', sans-serif;
            content: '\e317';
        }
    }
}
