/* Global styles */
@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.light.min.css";

/* Custom global styles */
@import "./typography.css";
@import "./buttons.css";
@import "./badges.css";

/* Body background gradient */
body {
  background: linear-gradient(180deg,
    color-mix(in srgb, var(--violet-2) 30%, var(--gray-0)) 0%,
    var(--gray-0) 50%
  );
  min-height: 100vh;
}
