/* Typography Styles */

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--font-weight-6);
  line-height: var(--font-lineheight-2);
  color: var(--gray-9);
  margin: 0;
}

h1 {
  font-size: var(--font-size-5);
}

h2 {
  font-size: var(--font-size-4);
}

h3 {
  font-size: var(--font-size-3);
}

h4 {
  font-size: var(--font-size-2);
}

h5 {
  font-size: var(--font-size-1);
}

h6 {
  font-size: var(--font-size-0);
}

p {
  line-height: var(--font-lineheight-3);
  margin: 0;

  &.text-subtitle {
    font-size: var(--font-size-1);
    color: var(--gray-7);
    line-height: var(--font-lineheight-3);
  }

  &.text-description {
    color: var(--gray-7);
    line-height: var(--font-lineheight-4);
  }

  &.text-small {
    font-size: var(--font-size-0);
    color: var(--gray-6);
  }
}
